.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.bar .button .button-rep {
    margin-bottom: 0;
    max-height: 44px;
    min-height: 44px;
    min-width: 44px;
    width: 48px;
}
