<ion-view>

    <ion-header-bar align-title="center" class="bar-positive">


    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Enter Receipt</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Store Name" ng-model="$parent.storeName">
            </label>
             <label class="item item-input">
              <!--  <input type="date" placeholder="Date" ng-model="$parent.date"> -->
                <ionic-datepicker idate="$parent.idate" > <!-- TODO: Datepicker -->
                    <button class="button button-outline button-small button-positive"> {{ idate | date:'dd - MMMM - yyyy' }} </button>
                </ionic-datepicker>
            </label>
           <label class="item item-input">

                <ion-select collection="$parent.categories" selected="$parent.selectedCat" title="Categories">
                     <button class="button button-outline button-small button-positive"> {{$parent.selectedCat}} </button>
                </ion-select>
            </label>
            <ion-list
                show-delete="data.showDelete"

                can-swipe="true">

                <ion-item collection-repeat="item in items track by item._id">

                    <h2>{{item.name}}</h2>
                    <p>{{(item.total | currency)}}</p>
                    <p>{{item.category}}</p>

                    <ion-option-button
                        class="ion-edit"
                        ui-sref="app.item({id: $parent.id, iid: item._id})">
                    </ion-option-button>
                    <ion-option-button
                        class="ion-minus-circled"
                        ng-click="onItemDelete(item)">
                    </ion-option-button>
              </ion-item>
            <!--<div ng-repeat="it in items" class="item-input-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Item Name" ng-model="it.name">
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Item Price" ng-model="it.cost">
                    </br>
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Item Quantity" ng-model="it.quantity">
                    </br>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Item Category" ng-model="it.category">
                    </br>
                </label>
            </div>-->
            <!--<label class="item item-input">
                <input type="date" placeholder="Date Purchased" ng-model="date">
            </label>-->
           <label class="item item">
                {{($parent.total=(items | fTotal)) | currency}}
            </label>
            <div>
                <button class="button ion-compose" ui-sref="app.item({id: -1})">
                    Add Item
                </button>
                <button class="button ion-paper-airplane" ng-click="submit()">
                    Submit
                </button>
                 <button class="button ion-close-round" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>
