<div class="list">
    <label class="item item-input">
        <input type="text" placeholder="Category Name" ng-model="category.name">
    </label>
    
   <!-- <label class="item item-input item-select">  TODO: fix categories-->
     <!--    <div class="input-label">
            Icon
        </div>
        <ion-grid-select ng-model="category.icon">
            <ng-option ng-repeat="icon in icons" ng-selected="category.icon">
                {{icon.name}}
            </ng-option>
        </ion-grid-select>
    </label>-->
</div>
<div>
    <button class="button ion-paper-airplane" ng-click="save()">
        Save
    </button>
    <button class="button ion-close-round" ng-click="cancel()">
        Cancel
    </button>
</div>



