<ion-view>

    <ion-header-bar align-title="center" class="bar-positive">


    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Enter Receipt</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Store Name" ng-model="$parent.receipt.storeName">
            </label>
             <label class="item item-input">
              <!--  <input type="date" placeholder="Date" ng-model="$parent.date"> -->
                <ionic-datepicker idate="$parent.receipt.date" > <!-- TODO: Datepicker -->
                    <button class="button button-outline button-small button-positive"> {{ receipt.date | date:'dd - MMMM - yyyy' }} </button>
                </ionic-datepicker>
            </label>
           <label class="item item-input">

                <ion-select collection="$parent.categories" selected="$parent.receipt.category" title="Categories">
                     <button class="button button-outline button-small button-positive"> {{$parent.receipt.category}} </button>
                </ion-select>
            </label>
            <div class="item item" ng-show="receipt.items.length">
                <ion-list
                    show-delete="data.showDelete"

                    can-swipe="true">

                        <ion-item ng-repeat="item in receipt.items track by item._id">
                            <h2>{{item.name}}</h2>
                            <p>{{(item.total | currency)}}</p>
                            <p>{{item.category}}</p>

                            <ion-option-button
                                class="ion-edit"
                                ng-click="onEditItem(item)">
                            </ion-option-button>
                            <ion-option-button
                                class="ion-minus-circled"
                                ng-click="onItemDelete(item)">
                            </ion-option-button>
                        </ion-item>
                </ion-list>
            </div>

           <label class="item item">
                {{($parent.receipt.total=(receipt.items | fTotal)) | currency}}
            </label>
            <div>
                <button class="button ion-compose" ng-click="addItem()">
                    Add Item
                </button>
                <button class="button ion-paper-airplane" ng-click="submit()">
                    Submit
                </button>
                 <button class="button ion-close-round" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>
