<ion-side-menus>
    <!-- Center content -->

    <ion-side-menu-content>
        <!--<ion-header-bar align-title="center" class="bar-positive">
            <button
                class="button button-icon icon ion-navicon"
                menu-toggle="left">
            </button>
            <h1 class="title">receipter</h1>
        </ion-header-bar>-->
        <ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="viewContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="side-menu">

        <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>

        <ion-content class="has-header">
            <div class="list">
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home">
                    <i class="icon ion-home"></i>
                    Home
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings">
                    <i class="icon ion-settings"></i>
                    Settings
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.receipt.list">
                    <i class="icon ion-edit"></i>
                    Receipts
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.category.list">
                    <i class="icon ion-edit"></i>
                    Categories
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.picture">
                    <i class="icon ion-camera"></i>
                    Take Picture
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.picture">
                    <i class="icon ion-camera"></i>
                    Statistics
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
